body {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Avenir", sans-serif;
  width: 531px;
  height: 208px;
  font-size: 88px;
  line-height: 104px;
}

.fila {
  display: flex;
  gap: 60px;
  width: 80%;
  justify-content: space-between;
}

.columna {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}

.numero {
  font-family: "Avenir", sans-serif;
  width: 38px;
  height: 44px;
  font-size: 32px;
  color: #2525258c;
  margin-top: 0px;
  margin-bottom: -20px;
  font-weight: 600;
}

.parrafo {
  font-family: "Avenir", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  color:#252525CC;
}

img {
  width: 400px;
  height: 345px;
}