* {
  border: red solid 1px;
}

body {
  background-color: grey;
}

.fondo {
  background-color: white;
}

header {
}

header h1 {
  display: flex;
  justify-content: center;
}

header p {
  display: flex;
  justify-content: center;
}

.boton {
  display: flex;
  justify-content: center;
}

header button {
  background-color: #252525;
  color: white;
}
