body {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", "Nunito", Arial, Helvetica, sans-serif;
}

.pagina {
  background-color: white;
  width: 1440px;
  height: 1204px;
}

.header {
  display: flex;
  justify-content: center;
  gap: 133px;
  margin-top: 122px;
  margin-left: 64px;
  margin-right: 63px;
}

.texto {
  width: 526px;
  height: 178px;
  font-size: 26px;
  color: #252525;
}

.recuadro-titulo {
  width: 674px;
  height: 80px;
  font-weight: 800;
}

.recuadro-titulo h1 {
  font-size: 84px;
  color: #252525;
  margin-top: 0;
}

.foto {
  margin-top: 120px;
  margin-left: 64px;
  margin-right: 63px;
  margin-bottom: 56px;
}

.button {
  width: 157px;
  height: 50px;
  border-radius: 16px;
  background-color: #252525;
  color: white;
  font-size: 18px;
}
