body {
  display: flex;
  justify-content: center;
  background-color: grey;
}

.pagina {
  position: relative;
  background-color: white;
  width: 1440px;
  height: 1345px;
}

.contenido {
  width: 464px;
  height: 498px;
  gap: 32px;
  margin-top: 157px;
  margin-left: 126px;
}

.contenido h1 {
  width: 400px;
  height: 240px;
  font-family: Playfair Display;
  font-size: 64px;
  line-height: 80px;
}

.contenido p {
  width: 412px;
  height: 128px;
  font-family: Playfair Display;
  font-weight: 400px;
  font-size: 24px;
}

.contenido button {
  background-color: #a36a4f;
  color: white;
  width: 179px;
  height: 66px;
  border-radius: 36px;
  font-family: Avenir;
  font-size: 24px;
}

.barra {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #ecdac4;
  width: 878px;
  height: 188px;
  margin-top: 5%;
  margin-left: 281px;
  border-radius: 80px;
}

.recuadro-info {
  display: flex;
  justify-content: space-between;
  width: 686px;
  height: 140px;
  margin-top: 24px;
}

.frames {
  width: 170px;
  height: 140px;
}

.frames .recuadroimg {
  display: flex;
  justify-content: center;
}

.frames img {
  width: 36px;
  height: 36px;
}

.frames h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 48px;
  margin-top: 5px;
  font-family: Poppins;
  font-weight: 600px;
  font-size: 32px;
}

.frames p {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 170px;
  margin-top: -20px;
  font-family: Poppins;
  font-weight: 400px;
  font-size: 16px;
}

.recuadros-cafe {
  display: flex;
  background-color: #363032;
  width: 1440px;
  height: 472px;
  margin-top: 160px;
}

.cafes {
  display: flex;
  justify-content: space-between;
  width: 1314px;
  height: 286px;
  margin-left: 63px;
  margin-top: 150px;
}

.info-cafes {
  display: flex;
  flex-direction: column;
}

.img-cafe {
  width: 186px;
  height: 246px;
  border-radius: 16px;
  overflow: hidden;
}

.img-cafe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-cafes img {
  background-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  object-fit: cover;
}

.info-cafes p {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Poppins;
  font-weight: 300px;
  font-size: 16px;
  margin-top: 25px;
}

.recuadro-cafes-grandes {
  position: absolute;
  width: 592px;
  height: 592px;
  margin-top: -1220px;
  margin-left: 730px;
}

.recuadro-cafe-1 {
  position: absolute;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  overflow: hidden; /* importante para recortar la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.recuadro-cafe-1 img {
  width: 100%;
  height: 160%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.recuadro-cafe-2 {
  position: absolute;
  width: 312px;
  height: 312px;
  margin-left: 280px;
  margin-top: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recuadro-cafe-2 img {
  width: 100%;
  height: 200%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
