body {
  display: flex;
  justify-content: center;
}

.pagina {
  background-color: white;
  width: 1440px;
  height: 1345px;
}

.contenido {
  width: 464px;
  height: 498px;
  gap: 32px;
  margin-top: 157px;
  margin-left: 126px;
}

.contenido h1 {
  width: 400px;
  height: 240px;
  font-family: Playfair Display;
  font-size: 64px;
  line-height: 80px;
}

.contenido p {
  width: 412px;
  height: 128px;
  font-family: Playfair Display;
  font-weight: 400px;
  font-size: 24px;
}

.contenido button {
  background-color: #a36a4f;
  color: white;
  width: 179px;
  height: 66px;
  border-radius: 36px;
  font-family: Avenir;
  font-size: 24px;
}

.recuadros-cafe {
  display: flex;
  background-color: #363032;
  width: 1440px;
  height: 472px;
  margin-top: 160px;
}

.cafes {
  display: flex;
  justify-content: space-between;
  width: 1314px;
  height: 286px;
  margin-left: 63px;
  margin-top: 150px;
}

.info-cafes {
  display: flex;
  flex-direction: column;
}

.img-cafe {
  width: 186px;
  height: 246px;
  border-radius: 16px;
  overflow: hidden;
}

.img-cafe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-cafes img {
  background-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  object-fit: cover;
}

.info-cafes p {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Poppins;
  font-weight: 300px;
  font-size: 16px;
  margin-top: 25px;
}
