body {
  display: flex;
  justify-content: center;
}

.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 1012px;
  background-image: url(imatges/fondo.jpg);
  background-size: cover;
  background-position: center;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 637px;
  height: 327px;
  margin-bottom: 150px;
}

h1 {
  width: 637px;
  height: 88px;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
  color: #ffffff;
}

p {
  width: 549px;
  height: 93px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
}

button {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 175px;
  height: 66px;
  border-radius: 36px;
  padding: 24px 48px 24px 48px;
}

.fila {
  display: flex;
}

.columna1 {
  width: 480px;
  height: 520px;
  background-image: url(imatges/chico1.jpg);
  background-size: cover;
  background-position: center;
}

.columna2 {
  width: 480px;
  height: 520px;
  background-image: url(imatges/chico2.jpg);
  background-size: cover;
  background-position: center;
}

.columna3 {
  width: 480px;
  height: 520px;
  background-image: url(imatges/chico3.jpg);
  background-size: cover;
  background-position: center;
}

.informacion {
  width: 320px;
  height: 125px;
  top: 350px;
  padding-top: 350px;
  padding-right: 96px;
  padding-bottom: 46px;
  padding-left: 64px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.informacion h1 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #ffffffcc;
  text-align: left;
  width: 316px;
  height: 38px;
}

.informacion p {
  font-family: "Lato", sans-serif;
  text-align: left;
  width: 316px;
  height: 58px;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  margin-top: -10px;
}
