body {
  display: flex;
  justify-content: center;
}

.pagina {
  background-color: #080c15;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

.logo img {
  width: 100%;
  height: 105%;
  background-position: center;
  object-fit: cover;
}

.contenido {
  position: relative;
  width: 539px;
  height: 582px;
  margin-left: 100px;
  margin-top: 181px;
}

.contenido h1 {
  width: 539px;
  height: 224px;
  font-family: Montserrat;
  font-weight: 800px;
  font-size: 64px;
  line-height: 100%;
  color: white;
  line-height: 1.2;
}

.hamburguesas {
  display: flex;
  width: 536px;
  height: 104px;
  margin-left: 20px;
}

.imagenes {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -30px;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido p {
  width: 536px;
  height: 68px;
  color: white;
  font-family: Montserrat;
  font-weight: 400px;
  font-size: 24px;
  line-height: 34px;
  margin-top: 40px;
}

.contenido button {
  background-color: #cd292a;
  margin-top: 20px;
  border-radius: 40px;
  padding-top: 24px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  color: white;
  font-family: Montserrat;
  font-size: 22px;
}

.recuadro-bajo {
  display: flex;
  position: absolute;
  top: 859px;
  left: 100px;
  width: 1180px;
  height: 101px;
}

.info {
  border-radius: 48px;
  width: 520px;
  height: 101px;
  background: linear-gradient(
    94.19deg,
    rgba(255, 255, 255, 0.4) 8.76%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(12px);
}

.info p {
  color: white;
  font-family: Montserrat;
  font-weight: 600px;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 30px;
}
