body {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

.pagina {
  width: 1440px;
  height: 1139px;
  background-color: #ffffff;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

h1 {
  font-family: "Avenir", sans-serif;
  text-align: center;
  width: 610px;
  height: 145px;
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 10px;
  color: #252525;
}

p {
  font-family: "Avenir", sans-serif;
  text-align: center;
  width: 607px;
  height: 108px;
  font-weight: 400;
  font-size: 26px;
  color: #252525cc;
}

button {
  background-color: #252525;
  width: 158px;
  height: 54px;
  border-radius: 16px;
  color: #ffffff;
  font-family: "Avenir", sans-serif;
  font-size: 18px;
}

.fila {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

img {
  width: 316px;
  height: 288px;
  border-radius: 16px;
}
