* {
  border-style: solid;
}

body {
    background-image: url(imatges/fondo.jpg);
    ima

}

main {
}

main h1 {
  display: flex;
  justify-content: center;
}

main p {
  display: flex;
  justify-content: center;
}

main button {
  display: flex;
  justify-content: center;
}