body {
  background-color: grey;
  display: flex;
  justify-content: center;
}

.pagina {
  background-color: white;
  width: 1440px;
  height: 926px;
}

.pagina h1 {
  width: 800px;
  height: 176px;
  margin-top: 64px;
  margin-left: 64px;
  font-family: Avenir;
  font-weight: 800px;
  font-size: 72px;
  line-height: 88px;
}

.recuadro-cartas {
  width: 1312px;
  height: 559px;
  margin-left: 64px;
}

.frames {
  width: 1312px;
  height: 559px;
}

.frame-texto {
  width: 316px;
  height: 133px;
}

.frame-texto h1 {
  margin: 0%;
  font-family: Avenir;
  width: 316px;
  height: 55px;
  font-weight: 800px;
  font-size: 40px;
  line-height: 100%;
}

.frame-texto p {
  margin: 0%;
  font-family: Avenir;
  width: 316px;
  height: 66px;
  font-weight: 400px;
  font-style: Roman;
  font-size: 24px;
}

.frame-img {
  background-image: url(imatges/foto1.jpg);
  background-size: cover;
  border-radius: 26px;
  width: 315px;
  height: 425px;
}

.texto-degradado {
  width: 317px;
  height: 147px;
  margin-top: 255px;
}

.texto-degradado h1 {
  margin-top: 20px;
  margin-left: 20px;
  width: 48px;
  height: 33px;
  font-family: Avenir;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.texto-degradado p {
  margin-top: 20px;
  margin-left: 20px;
  width: 213px;
  height: 66px;
  font-family: Avenir;
  font-weight: 400;
  font-size: 16px;
}
